@import url("base.css");

.navbar-default{
	/*background-color: #48a640;*/
}
.panel-principal{
	
	overflow: auto;
	max-height: 568px;
}
   
.panel-moveis,.panel-mapa{
	overflow-y: auto;
	height: 568px;
	padding: 0px;
}

#mapa{
	height: 100%;
}

.navbar-filtros{
	padding: 10px 0 0 0;
    top: 8%;
    margin: 0;
}

.filtros{
	margin:0;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.grid-select-filtro{
	width:12.5%;
	padding: 0;
	margin: 0;
}

.select-filtros{
	width:100%;
	padding: 0;
	border: 2px solid #e9edf1;
	border-radius: 4px;
	-moz-border-radius: 4px;    
	-webkit-border-radius: 4px;

}

.ms-choice{
	height: 100%;
}


.ver-detalhes-imoveis-mapa{
	text-align: center;
}

.ver-detalhes-imoveis-mapa h3{
	margin-top: 0;
}

.ver-img-imoveis-mapa img{
	width: 100%;
	padding:0;
}
.ver-img-imoveis-mapa {
	padding:0;
}

.ver-detalhes-imoveis-mapa{
	padding-left: 2px;
}

.grid-btn-ver-detalhes{
    padding: 7px;
}

.ul-detalhes-imoveis-mapa{
	padding: 0;
}
.ul-detalhes-imoveis-mapa li{
	list-style: none;
	padding: 0;
}


.thumbnail{
	margin:0;
	 border: 3px solid #e9edf1;
	border-radius: 4px;
	-moz-border-radius: 4px;    
	-webkit-border-radius: 4px;

}

.thumbnail img{
	width: 460px;
    height: 240px;
    background-repeat: no-repeat;
}
.info-imovel,
.texto-right, .texto-left{
    display: inline-block;
}

.img-favoritos {
	    width: 25px !important;
    height: 25px !important;
    position: absolute;
    top: 2%;
    right: 21px;
}



.jcarousel{
      overflow: auto;
      position: relative;
      background: #333;
      height: auto;
      background-color: transparent;

    }
.jcarousel li{ 
	/*margin: 0 4px;*/ 
	overflow: hidden;

}
.jcarousel li a{
  display: block;
  /*border: 7px solid rgba(255,255,255,.1);*/
}


/*.jcarousel .mTSButtonIcon{ fill: #aaa; }
.jcarousel .mTSButton .mTSButtonIcon{ opacity: .5; }
.jcarousel .mTSButton:hover .mTSButtonIcon{ opacity: 1; }*/

.ms-choice > span{
	position:relative;
}

.info-label-apartamento-mapa, .btn-ver-detalhes {
    padding: 5px 5px;
    font-size: 11px;
    margin-bottom: 2px;
    border-radius: 2px;
	-moz-border-radius: 2px;    
	-webkit-border-radius: 2px;
}